:root {
    --color-one: darkgrey;
    --color-two: grey;
    --color-three: lightgrey;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Montserrat:wght@400;600&family=Roboto:wght@400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: 'Press Start 2P', sans-serif;
}

h3, h4 {
    font-family: 'Montserrat', sans-serif;
}

p, li, span {
    font-family: 'Roboto', sans-serif;
}

span{
    font-weight: bold;
}

button {
    font-family: 'Montserrat', sans-serif;
}
